<br/><br/><br/>
<center><h1>This is a Synechron Visitor Management System</h1>
<br/>
<h3>*You can have list of visitor at "ACTIVE VISITOR" with other options<br/>
**You can add visitor at "NEW VISITOR" with Visitor's Details.</h3></center>
<br/><br/>
<div style="height=40%">
<center><h1>Thank You For Visiting</h1></center>
</div>
