<br/><br/><br/><br/><br/><h1><center>Welcome to </center></h1>
<center><%= image_tag("/images/Synechron.jpg")%></center>
<h1><center>Visitor Management System</h1></center>
<% else %>
 <div style="text-align:center;width:100%;">
</div>

