			<br/><center><h1>List of Active Visitors</h1></center><br/><br/>
			<center><table border="4" cellpadding="5" style="height=70%">
			  <tr>
				<th><b><h4>Name</h4></b></th>
				<th><b><h4>Age</h4></b></th>
				<th><b><h4>Gender</h4></b></th>
				<th><b><h4>Address</h4></b></th>
				<th></b><h4>Mobile Number</h4></b></th>
				<th><b><h4>Contact Person</h4></b></th>
				<th><b><h4>Date</h4></b></th>
				<th><b><h4>In-time</h4></b></th>
				<th><b><h4>Out-Time</h4></b></th>
				<th scope="col"><b><h4>Operations</h4></b></th>
				
			  </tr></h4>
                 <%= render partial: "visitor", collection: @visitors %>
</table></center>
