<br/><h1>&nbsp&nbsp&nbspEnter new Visitor's Details</h1>
<div id="image" style= "position: fixed; width=350px; height=350px; right:100px;">
<%= image_tag("/images/logo1.jpg") %>
</div>

<%= render 'form' %>

